@import url('https://fonts.googleapis.com/css?family=Anton|Karla|Lemon|Montserrat|Rubik|Tangerine');





$screen-tablet: 550px;
$screen-tablet-large: 811px;
$screen-desktop: 1050px;
$screen-desktop-large: 1300px;

@mixin tablet {
    @media(min-width: #{$screen-tablet}) {
        @content;
    }
}

@mixin tabletLarge {
    @media(min-width: #{$screen-tablet-large}) {
        @content;
    }
}
@mixin sectionHeading {
    text-align: center;
    
    text-transform: uppercase;
    font-family: 'rubik';
    font-size: 3rem;
    letter-spacing: .1rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

@mixin paragraphPadding {
    padding: 5px 15px 30px 15px;
}

@mixin subHeading {
    text-align: center;
    font-size: 2rem;
}

$offwhite: #f4f4f4;
$offblack: #242424;
$offwhitetwo: #fdfdfd;
$offwhitethree: #f9f9f9;

/******pic colors ******/
$picblue: #4886d9;
$picgreen: #1ca658;
$picyellow: #f2e852;
$picorange: #d97218;
$picred: #d9320d;

$comppurple: #9490f4;
$compgrey: #7B8C68;
$compgreen: #7BBF2E;

$compblue: #23a1a6;


* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background: $offwhitethree;
    font-family: 'montserrat';
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    height: 100vh;
    width: 100%;
    background: url(/IMG/art50-min.jpg);
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed;
    
    img {
        display: inline-block;
    }

    .opacityAnchor {
        position: relative;
        top: 40%;
    }

    h2 {
        text-align: center;
        font-weight: bold;
        color: $offwhite;
        font-family: 'tangerine';
        font-size: 5rem;
        position: relative;
        top: 40%;
    }
}



/**************************************************************************
*********************** MAIN **********************************************/
.anch {
    display: none;
}
nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background: #fff;

    .logo {
        margin: 1rem 0 1rem 10%;
    }

    ul {
        list-style-type: none;
        visibility: hidden;
        position: absolute;
        transition: all ease-in .6s;
        transform: translateY(-500%);
        
        a {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            color: $offblack;
            
        }
    }

    li {
        padding-top: 1rem;
    }

    

    .ham {
        margin: 1rem 10% 1rem 0;
        font-size: 2rem;

        a {
            color: $offblack;
        }
        
        .fa-times {
            color: red;
        }
    }
}

.close {
    display: none;
}

.hide {
    display: none;
}
.show {
    display: inline-block;
    
}

.showNav {
    position: static;
    transform: translateY(0);
    visibility: visible;
    margin-top: 10%;
    margin-bottom: 5%;
}






.stickyNav {
    position: sticky;
    top: 0;
    width: 100%
}

.blurBackground {
    background: rgba(255, 255, 255, .9);
}
.whiteStandout {
    color: #fff;
}
/**************************************************************************
*********************** ARTICLES *****************************************/


.articles {
    height: 150vh;
    background: linear-gradient(#fff, $offwhitethree);
    
    h2 {
        @include sectionHeading;
    }

    p {
        @include paragraphPadding;
    }
}

/**************************************************************************
*********************** ABOUT *****************************************/


.about {
    background: #f4f4f4;
    
    

    h2 {
        color: #0061ff;
        @include sectionHeading;
    }

    p {
        color: $offblack;
        @include paragraphPadding;
    }

    h3 {
        padding-top: 1rem;
        @include subHeading;
        color: #0061FF;
    }

    article {

        div {

            @include tabletLarge {
            z-index: 2;
            background: #fff;
            margin: 1rem;
            margin-bottom: -7rem;
            border-radius: 9px;
            box-shadow:  0 3px 10px rgba(50,50,50,0.05);
           /* box-shadow: 0px 6px 10px #000000; */
            }
        }
        @include tablet {
            width: 90%;
            margin: 0 auto;
        }

        @include tabletLarge {
            display: flex;
            flex: 1;

        }

    }
}

/**************************************************************************
*********************** STORE *****************************************/

.store {
    background: #9c9c8c7a;
    transform: skewY(15deg);

    @include tabletLarge {
        padding-top: 7rem;
    }

    .storeTop {
        @include tablet {
            width: 90%;
            margin: 0 auto;
        }
    }
    
    h2 {
        @include sectionHeading;
    }

    h3 {
        @include subHeading;
    }

    p {
        color: $offwhite;
        @include paragraphPadding;
    }
}



/**************************************************************************
*********************** Contact *****************************************/

.contact {
    background: $offblack;
    color: $offwhite;

    .contactFlex {
        @include tabletLarge {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex: 1;
        }
    }

    .contactTop {
        @include tablet {
            width: 90%;
            
            margin:0 auto;
        }
        @include tabletLarge {
            margin: 0 1rem 0 1rem;
        }
    }
    .form {
        width: 90%;
        margin: 0 auto;

        @include tabletLarge {
            width: 100%;
            margin: 0 1rem 0 1rem;
        }

    }

    a {
        text-decoration: none;
        font-size: 1.3rem;
        color: $offwhite
    }
    #contactform {
        
    }

    input {
        display: block;
        width: 100%;
        margin-bottom: 5%;
        border-radius: 7px;
        font-size: 2rem;
        border-style: outset;
    }

    #button {
        background: #FFF;
        border-color: $compblue;
        font-weight: bold;
        color: #000;
    }

    textarea {
        width: 100%;
        margin-bottom: 5%;
        font-size: 2rem;
        border-radius: 10px;
        min-height: 5rem;
    }

    h2 {
        @include sectionHeading;
    }

    p {
        @include paragraphPadding();
    }
}

/**************************************************************************
*********************** Footer *****************************************/

footer {

    input {
        display: block;
    }
}